html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #525d64;
}


@keyframes alphaInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#loadingScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #525d64;
    opacity: 0;
    z-index: 1000;

    animation: alphaInOut;
    animation-duration: 6s;
}

#loadingLogo, #loadingText {
    text-align: center;
}

#loadingLogo {
    color: white;
    margin-top: -5px;
}

#loadingText {
    color: rgb(187, 187, 187);
}

@keyframes loadingAnim {
    0% {
        transform: translateX(-155%);
        width: 50px;
        transform: translateX(-150%);
    }

    50% {
        width: 150px;
    }

    100% {
        transform: translateX(150%);
        width: 50px;
        transform: translateX(155%);
    }
}

#buffer {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #86a7a7;

    animation: loadingAnim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
}


#editor {
    position: fixed;
    left: 0;
    right: 0;
    top: 35px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#previewEditorArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 170px;
    width: 100%;
}

#keyframeEditor {
    display: flex;
    float: bottom;
    background-color: #393b40;
    position: absolute;
    width: 100%;
    height: 170px;
    bottom: 0;
    border-top: 3px solid black;
}


#previewArea {
    width: 60%;
    height: 100%;
    background-color: #86a7a7;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animPreview {
    border: none;
    background-color: #393b40;
    aspect-ratio: 16 / 9;
    width: 100%;
    user-select: none; 
}


#sidebarLeft {
    display: flex;
    flex-direction: column;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #525d64;
    flex: 1;
    height: 100%;
    border-right: 1px solid black;
    padding-left: 10px;
}

#sidebarRight {
    display: flex;
    flex-direction: column;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #525d64;
    flex: 1;
    height: 100%;
    border-left: 1px solid black;
    padding-right: 10px;
}


.sidebarPanel {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebarPanelHeader {
    width: 100%;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

input, .inputRowBtns {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    height: 20px;
    background-color: #515358;
    color: white;
}

input:hover, .inputRowBtns:hover {
    background-color: #393b40;
}

input:active, .inputRowBtns:active {
    background-color: #525d64;
}

input[type="text"] {
    padding-left: 5px;
}

.inputRow {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

details, summary {
    cursor: default;
    user-select: none;
    margin-left: -20px;
    padding-left: 20px;
    cursor: default;
    color: white;
}

summary:hover {
    background-color: #393b40;
}

.objectDropdown[open] .objectDropdownSummary {
    background-color: rgb(83, 83, 230);
    margin-bottom: 10px;
}

.objectDropdown[open] {
    padding-bottom: 10px;
}

#animCodeEditor {
    width: 100%;
    height: 300px;
    resize: none;
    outline: none;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    padding-right: 15px;
}

#animCodeEditor:hover {
    background-color: #515358;
}

.selectActiveBtn {
    height: 17px;
    margin-left: 10px;
    margin-top: 3px;
}